@charset "UTF-8";

input,
textarea,
label,
select {
  @include font-size(16);
  vertical-align: baseline;
}

label {
  @include visually-hidden;
}

input[type]:not([type=range]):not([type=submit]),
textarea {
  @include padding(($base-spacing / 3) ($base-spacing / 2));
  @include margin(0 0 $base-spacing);
  @include border-radius;
  @include transition(all, .2s, ease-in-out);
  width: 100%;
  max-width: 100%;
  border: 0;
  outline: none;
  font-family: $base-font-family;
  font-weight: 300;

  &[type='search'] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-datetime-edit-fields-wrapper {
      -webkit-appearance: none;
    }
  }
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

input::-webkit-datetime-edit-fields-wrapper {
  font-family: $base-font-family-alt;
}

@include placeholder {
  color: $color-grey;
  font-weight: 400;
}

.required:after {
  content: '*';
}
