// =Article Headers
$article-header-color: $color-brand-secondary;
$article-header-bg: $color-brand-primary-complimentary;
$article-header-border-color: $article-header-color;
$article-header-font-weight: 700;
