<div class="about" name="about">
  <section>
    <h2>About Us</h2>
    <article>
      <p>CAS was founded on the idea of providing clear cut individual solutions for clients. The company is led by a results oriented executive with a record of significant accomplishments in health care spanning extensive consulting and clinical experience.</p>

      <p>Our leadership team provides mentoring, coaching and team building proficiencies along with a communication style that will allow for long term success.</p>

      <p>Proven results will tie cost reduction, process improvement, and variation in practice supported by solid data analytics. Our approach and outcomes are proven, long term processes leading to a viable set of improvements that can easily be transferred to your organization through education and training for continuing results.</p>
    </article>
    <aside>
    <amp-img src="/images/about-us.jpg" alt="about us"></amp-img>
    </aside>
  </section>
</div>
