      </main>
      <!-- ./End Content Wrapper -->

      <div class="pre-footer" name="contact">
        <div class="copyright">

          <section>
            <h6>
              © {{ site.time | date: '%Y' }} {{ site.title }}
            </h6>
          </section>

        </div>
      </div>

    </div>
  </div>

  <!-- Footer Component -->
  <footer role="contentinfo">

    <section>
      <h2>Contact Us</h2>
      <hr>

      <aside>
        <address>
          <span class="h5">{{ site.title }}</span><br>
          <a class="tel" href="tel:+{{ site.phone }}"><span itemprop="telephone">{{ site.phone }}</span></a><br>
          <a href="mailto:{{ site.email }}"><span itemprop="telephone">{{ site.email }}</span></a>
        </address>
      </aside>

      <article>
        <form action="//formspree.io/{{ site.email }}" method="POST" autocomplete="on">
          <input type="hidden" name="_next" value="{{ site.url }}/thank-you" />
          <fieldset>

            <label for="name" class="visually-hidden">Name</label>
            <input type="text" id="name" name="name" placeholder="Name" tabindex="91" required>

            <label for="email" class="visually-hidden">Email</label>
            <input type="email" id="email" name="_replyto" placeholder="Email Address" tabindex="92" required>

            <label for="textarea" class="visually-hidden">Send me a message:</label>
            <textarea id="textarea" name="message" placeholder="Message" tabindex="93"></textarea>

          </fieldset>
          <button class="btn" type="submit" name="submit" value="Submit">Submit</button>
        </form>
      </article>
    </section>
  </footer>
  <!-- ./Footer Component -->

</div>

