{% assign current = page.url | split: '/' %}
<header role="banner">

  <div class="container">

    <div class="logo">
      <a href="/">
        <img src="/images/cas-logo.png" alt="Clinical Advisory Solutions, LLC. logo">
      </a>
    </div>

    <nav role="navigation">
      <div class="menu" role="menubar">
        <ul role="menu">
          {% for nav in site.data.nav %}
          {% if nav.name == page.parent %}
          <li class="active" role="menuitem">
            {% else %}
            <li role="menuitem">
              {% endif %}
              <a href="{{ nav.url }}">{{ nav.name }}</a>
            {% endfor %}
          </li>
        </ul>
      </div>
    </nav>

  </div>
</header>
