<div class="services" name="services">
  <section>
    <h2>Services</h2>
    <div class="third">
      <div class="card">
        <h6>Acute Care</h6>
        <div>CAS is your business partner focusing on preparing for value based purchasing through a concentration on utilization, standardization and reimbursement opportunities.  We provide research for evidence based medicine incorporating data management with operational and clinical integration.</div>
      </div>
    </div>
    <div class="third">
      <div class="card">
        <h6>Ambulatory Surgery Centers</h6>
        <div>Focus on cost reduction and variation of key item expenses per case as compared to other ASC’s performing similar procedures. Let CAS maximize your efficiencies by assisting with negotiating contracts for fair market cost.  Enhance and align your resources to the proper tasks promoting the strengths of your individual resources.</div>
      </div>
    </div>
    <div class="third">
      <div class="card">
        <h6>Subscription Models</h6>
        <div>Let CAS be your clinical contact to help support Value Analysis calendar of activities, mine for opportunity and continually position you for optimal performance.  Mentoring and coaching activities to recommend and implement an infrastructure of improvements required to support cost reduction efforts and net revenue enhancements and to support a framework for on-going management.</div>
      </div>
    </div>
  </section>
</div>
