@charset "UTF-8";

header[role=banner] {
  @include padding($base-spacing * 1.5);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 3px solid $color-brand-primary-complimentary;
  background-color: $color-brand-primary;
  z-index: 999;

  @include media($mobile) {
    @include padding($base-spacing);
  }
}

.banner {
  @include padding($base-spacing);
  background: url(/images/banner.png);

  h3 {
    margin-bottom: 0;
    color: $color-white;
    text-shadow: 2px 2px rgba($color-black, $site-alpha);
  }
}
