@charset "UTF-8";

.intro {
  @include padding(($base-spacing * 2) 0);

  section {
    max-width: 720px;
    text-align: center;
  }

  @include media($mobile) {
    padding-top: 0;
    padding-right: $base-spacing;
    padding-left: $base-spacing;
  }
}

.services {
  @include padding(($base-spacing * 2) 0);
  position: relative;
  background: url(/images/grey_%402X.png);

  @include media($mobile) {
    padding-right: $base-spacing;
    padding-left: $base-spacing;
  }

  .card {
    border-radius: 5px;
    background-color: $color-light-grey;
    box-shadow: 0px 1px 2px 0px rgba($color-brand-primary-complimentary, .15);

    @include media($mobile) {
      margin-bottom: $base-spacing;
    }

    h6 {
      @include padding($base-spacing / 2);
      margin-bottom: 0;
      border-radius: $base-border-radius $base-border-radius 0 0;
      border-bottom: 3px solid $color-brand-primary-complimentary;
      background-color: $color-brand-primary;
      color: $color-brand-secondary;
      text-shadow: 0px 2px 3px mix($color-white, $color-brand-primary, 25%);
      text-align: center;
    }

    div {
      @include padding($base-spacing);
      text-align: center;
      box-shadow: inset 0 7px 9px -7px rgba($color-brand-primary-complimentary, .4);
    }
  }

  &:before,
  &:after {
    @include horizontal-center(absolute);
    content: "";
    position: absolute;
    width: 90%;
    height: 4px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba($color-brand-primary-complimentary, .4);
    z-index: 0;
  }

  &:before {
    top: -4px;
  }

  &:after {
    bottom: -4px;
  }
}

.about {
  @include padding(($base-spacing * 2) 0);
  position: relative;
  background-color: $color-light-grey;
  z-index: 1;

  img {
    border: 8px solid $color-white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  }

  @include media($mobile) {
    padding-right: $base-spacing;
    padding-left: $base-spacing;
  }
}

.news {
  @include padding(($base-spacing * 2) 0);
  position: relative;
  background-color: $color-white;
  z-index: 1;

  ul {
    @include vertical-list(lined);
  }

  @include media($mobile) {
    padding-right: $base-spacing;
    padding-left: $base-spacing;
  }
}

.thank-you {
  text-align: center;
}
